<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <!-- Home-screen widget: next / ongoing class tracker.
         The system AppWidgetService delivers updates, so it does not need
         to be exported. -->
    <receiver
      android:name=".NextClassWidgetProvider"
      android:exported="false"
      android:label="@string/widget_next_class_label">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/next_class_widget_info" />
    </receiver>
  </application>
</manifest>
